################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeslaCharge/bin/Debug/net8.0
/TeslaCharge/Log
/TeslaCharge/obj
