/SolarCharger/.vs
/SolarCharger/SolarCharger/bin/Debug/net8.0
/SolarCharger/SolarCharger/obj/Debug/net8.0
/SolarCharger/SolarCharger/obj
/SolarCharger/SolarChargerFE/obj
/SolarCharger/SolarChargerFE/bin/Debug/net8.0
/SolarCharger/UnitTestSolarCharger/bin/Debug/net8.0
/SolarCharger/UnitTestSolarCharger/obj
