name: Docker Image CI
on:
  push:
    branches: master
jobs:
  docker:
    runs-on: ubuntu-latest
    environment: Docker
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
      - name: Build docker image
        run: docker build -f ./SolarCharger/server.Dockerfile -t thijswm/tesla_solar_charger:latest ./SolarCharger/
      - name: push image
        run: |
          docker login -u ${{secrets.DOCKER_USERNAME }} -p ${{secrets.DOCKER_TOKEN }}
          docker push thijswm/tesla_solar_charger:latest
